html, body {
  height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #596372;
}

@font-face {
  font-family: aa;
  src: url(animeace/aa.ttf);
}
@font-face {
  font-family: kgel;
  src: url(kaorigel/kgel.ttf);
}
