:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
footer p {
  margin-bottom: .25rem;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

body {
  padding-top: 3.5rem;
}
@media only screen and (max-width: 768px) {
  .fixed-bottom{
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  .fixed-bottom{
    position: fixed;
  }
}